<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leederedu.educhat.db.mappers.PlateMapper">

    <select id="getList" resultType="Map">
        SELECT id plateId,plate_code plateCode,plate_name plateName,style_code style,plate_store isStore,'default' isDefault FROM `t_info_plate` WHERE region_code = #{param2}
    </select>

</mapper>